# Токен бота от @BotFather
BOT_TOKEN=В8761397372:AAFV-EaYfCJRGuLv7Qgko1aWJRUjw4Ewf8Y

# Telegram ID администратора (узнай у @userinfobot)
ADMIN_ID=5051296134

# Username администратора без @
ADMIN_USERNAME=TortiKht

# Цена за один слайд в рублях
PRICE_PER_SLIDE=25

# Процент скидки
DISCOUNT_PERCENT=10

# От скольки слайдов действует скидка
DISCOUNT_FROM_SLIDES=10