# ===== СЕКРЕТЫ =====
.env

# ===== ДАННЫЕ БОТА =====
data/

# ===== ВИРТУАЛЬНОЕ ОКРУЖЕНИЕ =====
venv/
.venv/
env/

# ===== PYTHON КЭШИ =====
__pycache__/
*.py[cod]
*.pyo

# ===== ЛОГИ =====
*.log
logs/

# ===== VSCode =====
.vscode/

# ===== СИСТЕМНЫЕ =====
.DS_Store
Thumbs.db
start_bot.bat